{% extends "base.html.twig" %}

{% block javascripts %}
  {{ encore_entry_script_tags('task-new') }}
{% endblock %}

{% block body %}
  {{ form_start(form) }}
    {{ form_row(form.description) }}

    <h3>Tags</h3>

    <ul class="tags" data-prototype="{{ form_widget(form.tags.vars.prototype)|e('html_attr') }}">
      {% for tag in form.tags %}
        <li>{{ form_row(tag.name) }}</li>
      {% endfor %}
    </ul>
  {{ form_end(form) }}
{% endblock %}